<!-- Top section -->
<section class="header__top">
    <ul class="header__top-buttons">
        @for(button of interfaceService.buttonsList(); track $index ) {
            <li class="header__top-button">
                <a [href]="button.link" target="_blank">
                    <button app-button [icon]="button.icon" [iconColor]="button.iconColor" [text]="button.text"></button>
                </a>
            </li>
        } 
    </ul>
</section>


<!-- Bottom section -->
<section>
    <!-- Logo Archi TS-->
    <div>
        <img src="logo/logo-v1.svg" alt="">
        <p>ArchiTS</p>
    </div>

    <!-- Navigation -->
    <nav>
        <ul>
            <li>
                <a [routerLink]="'/home'" routerLinkActive="active">Home</a>
            </li>
            <li>
                <a [routerLink]="'/documentation'" routerLinkActive="active">Documentation</a>
            </li>
        </ul>
    </nav>


    <!-- CTA -->
    <div>
        <button app-button [icon]="'heart.svg'" [iconColor]="'white'" [text]="'Sponsor'"></button>
        <button app-button [icon]="'arrow-start.svg'" [iconColor]="'white'" [text]="'Commencer'"></button>
        <button app-button [icon]="'burger.svg'" [iconColor]="'white'"></button>
    </div>
</section>