
/*
* Button effects
*/
$btn-hover: 150ms;

/*
* Tag effects
*/
$tag-hover: 300ms;
$tag-scale: 1.2;

// Animation cursos 
@keyframes blink {
    0%, 30% { opacity: 1; }
    31%, 60% { opacity: 0; }
    61%, 80% { opacity: 1; }
    81%, 100% { opacity: 0; }
  }