@use "fonts" as font;
@use "colors" as color;
@use 'animations' as anim;
@use "mixins" as *;



/* Hide buttons or field or anything else */
.hidden {
  display: none !important;
}

/* */
.select {
  @include standard-border($radius: 8px, $size: 2px, $color: transparent);
  padding: .5rem;
  font-size: 1.5rem;
  color: color.$paragraph-grey;
  background-color: transparent;


  &__list {
    width: 100%;
  }
}