@use "colors" as color;
@use "mixins" as *;


.spinner {
  @include position($position: fixed, $top: 50%, $left: 50%, $zindex: 1000);

    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    border-radius: 50%;

    border-top: 8px solid color.$green;
    border-right: 8px solid color.$darkblue;
    border-bottom: 8px solid color.$red;
    border-left: 8px solid color.$red;

    animation: spin 1.5s linear infinite;
}


@keyframes rotateHexagon {
    0% {
      transform: rotateY(0deg); 
      opacity: 1;
    }
    50% {
      transform: rotateY(180deg); 
      opacity: 0.2;
    }
    100% {
      transform: rotateY(0deg);
      opacity: 1;
    }
  }


@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}
