<section>

    <div>
        <h1>ArchiTS CLI
            <span>Générateur d'Architecture Backend Moderne</span>
            <span>Créez des structures backend robustes avec TypeScript ou JavaScript. Trois architectures éprouvées, configuration automatisée, prêt en 30 secondes.</span>
        </h1>
    </div>
    
    <app-console></app-console>
    
<ul>
    <li>
        <div app-button  [text]="'Commencer'"></div>
    </li>
    <li>
        <div app-button  [text]="'Documentation'"></div>
    </li>
    <li>
        <div app-button [icon]="'star.svg'" [iconColor]="'yellow'" [text]="'Français'"></div>
    </li>
</ul>
</section>




<section>
<h2>Pourquoi choisir ArchiTS ?</h2>
<p>Un CLI moderne pour des architectures backend professionnelles</p>

<app-card></app-card>
<app-card></app-card>
<app-card></app-card>

</section>



<section>
    <h2>Installation Rapide</h2>
    <p>Commencez à utiliser ArchiTS en quelques commandes</p>

    <app-terminal></app-terminal>

    <ul>
        <li>
            <div app-button  [text]="'Commencer'"></div>
        </li>
        <li>
            <div app-button  [text]="'Documentation'"></div>
        </li>
        <li>
            <div app-button [icon]="'star.svg'" [iconColor]="'yellow'" [text]="'Français'"></div>
        </li>
    </ul>
</section>