@use 'mixins' as *;
@use 'colors' as color;
@use 'fonts' as font;

:host {
    @include flex($direction: column, $gap: 1.5rem);
    padding: 1rem 0;
    height: 100vh;
    background: linear-gradient(135deg, color.$background-blue-linear1, color.$background-blue-linear2 50%, color.$background-blue-linear1);
    border-right: solid 20px color.$background-blue-linear1;

    &.opened {
        @include position($position: fixed, $left: 0, $top: 140px, $zindex: 10);
        transition: 300ms ease-in-out;

    }

    &.closed {
        @include position($position: fixed, $left: -290px, $top: 140px, $zindex: 10);
        transition: 300ms ease-in-out;
    }
}


.overlay {
    &__btn {
        @include position($position: relative, $left: 300px, $top: -1px);
        @include standard-border ($radius: 50%, $shape: solid, $color: color.$white, $size: 1px);
        @include text($color: color.$grey, $size: 1.5rem, $align: center);
        width: 36px;
        height: 48px;
        background-color: color.$background-blue-linear1;
    }

    &__scroll {
        @include flex($direction: column, $gap: 1rem);
        height: 100%;
        overflow-y: auto;
        margin-bottom: 10rem;
    }

    &__title {
        display: flex;
        align-items: center;
        gap: .5rem;
        color: color.$white;
        font-size: 1.25rem;
        border-radius: 8px;
        padding: .5rem 1rem;
        transition: 200ms ease-in-out;
    }

    &__icon {
        width: 24px;
    }

    &__subtitle {
        color: color.$grey;
        font-size: 1.25rem;
        font-family: font.$InterLight;
        padding: .5rem 1rem;
        width: fit-content;
        border-radius: 8px;
        transition: 200ms ease-in-out;
    }
}

@media screen and (min-width: 758px) {


    :host {
        background: linear-gradient(135deg, color.$background-blue-linear1, color.$background-blue-linear2 50%, color.$background-blue-linear1);

        &.closed,
        &.opened {
            @include position($position: sticky);
            margin-left: -16px;
            margin-top: -16px;
            transition: 200ms ease-in-out;
            margin-bottom: -160px;
        }
    }

    .overlay {
        &__btn {
            display: none;
        }

        &__scroll {
            position: fixed;
            top: 150px;
            padding-left: 1rem ;

            padding-bottom: 160px;
        }

        &__title:hover {
            transition: 200ms ease-in-out;
            color: color.$h4-title;
            background-color: rgba(36, 99, 235, 0.5);
        }

        &__subtitle:hover {
            transition: 200ms ease-in-out;
            color: color.$h4-title;
            background-color: rgba(36, 99, 235, 0.5);
        }

    }

}