@use 'mixins' as *;
@use 'fonts' as font;
@use 'colors' as color;


:host {
    background-color: black;
    padding: 1rem;
    border: 1px solid color.$grey;
    border-radius: 8px;
    width: 100%;
    font-size: 1rem;
}

.terminal {

    &__type {
        text-align: right;
        color: color.$paragraph-grey;
    }
    
    &__txt {
        white-space: pre-wrap;
        font-family: font.$FiraRegular;
        color: color.$paragraph-white;
    }
}


@media screen and (min-width: 758px) {
    :host {
        font-size: 1.25rem;
    }
}