@use "./styles/reset";
@use "./styles/forms";

@use "./styles/fonts" as font;
@use "./styles/colors" as color;

/* Globar Styles*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  
    margin-top: 9.1rem;
    padding: 1rem;
    font-family: font.$InterMedium;
    background: linear-gradient(135deg, color.$background-blue-linear1, color.$background-blue-linear2 50%, color.$background-blue-linear1);

}

.center {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}


.hidden {
    display: none !important;
}


.active {
    opacity: 1 !important;
    cursor: pointer !important;
}
